/* GLOBAL STYLES
-------------------------------------------------- */

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

html {
    overflow-y: scroll
}

img {
    display: block;
    height: auto;
    max-width: 100%
}
.align_right {
   text-align: right;
}

.float_right {
float: right;
}

.link {
margin-top: 4px;
}

.globalLogo {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -100px;
    z-index: 5
}

.mobileMenuIsOpen .globalLogo {
    z-index: 1
}

.globalLogo-text {
    display: block;
    text-indent: -9999px
}

/*  Services section */
.over {
color: #ffffff;
position:absolute;
width:100%;
text-align:center;
bottom: 40%;
right:0;
left:0;
z-index:3;
letter-spacing: 2px;
font-size: 20px;
text-shadow: 0px 0px 3px #000, -1px -1px 4px #000, 1px 1px 4px #000;
}
.col-sm-6, .col-sm-8, .col-sm-12{
padding-left: 8px;
padding-right: 8px;
}

.col-sm-4 {
padding-left: 20px;
padding-right: 0px;
}

.green_title {
font-size: 24px;
letter-spacing: 2px;
color: #8CC63E;
}

.row .green_title {
margin-left: -8px;
margin-bottom: 10px;
border-bottom: 2px solid #FCB040;
}

.bluetext {
font-size: 20px;
letter-spacing: 2px;
color: #57C5CD;
}

.images img {
margin-bottom: 15px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.globalNavSocialLink {
    width: 33px;
    text-align: center;
}

nav .container {
padding-left: 10px;
padding-right: 10px;
}

.navbar-default .navbar-nav li a {
    color: #5F4B27;
font-weight: bold;
z-index: 10;
}

.navbar-default .navbar-nav li a:hover {
color: #FCB040;
}

#navbar {
border-top: 10px solid #8CC63E;
padding-left: 0px;
padding-right: 0px;
}
.navbar {
margin-bottom: 0px;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
color: #5faaf2;
}

.navbar-default{
background: none;
border: none;
}

.navbar-toggle{
margin-right: 10px;
position:absolute;
right: 0px;
}

.navbar-collapse {

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width: 100%;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
text-shadow: 0px 0px 0px #000, -1px -1px 4px #000, 1px 1px 4px #000;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
   position: relative;
    width: 100%;
    overflow: hidden;
}


.greentext {
font-size: 26px;
font-weight: bold;
letter-spacing: 2px;
color: #8CC63E;
}

.row .greentext {
margin-left: -5px;
margin-bottom: 10px;
margin-top: 15px;
line-height: 1.25;
}


.paragraph p{
line-height: 1.5;
color: #5E4A24;
margin-left: -5px;
}

.paragraph p.orangetitle {
color: #FCB040;
font-size: 150%;
margin-top: 30px;
margin-bottom: 20px;
text-align:center;
}

h3 {
color: #FCB040;
}

.bulletlist {
list-style: initial;
line-height: 2;
color: #5E4A24;
}

.italics {
font-style:italic;
}


.paragraph {
  margin-bottom: 30px;
}

  .bottom-column
  {
      float: none;
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 10px;
  }

/* Footer */
footer {
padding-top: 10px;
color: #ffffff;
height: 40px;
background-color: #8CC63E;
}

footer .row {
margin-right: 0px;
margin-left: 0px;
}

    .container {
    width: 100%;
    }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
li.globalNavSocialLink {
display: none;
}
.globalLogo{
display: block;
z-index: 0;
}

.carousel {
z-index: -1;
}
.float_right{
float:none;
}
ul.float_right{
margin-top: -30px;
}

.nav  {
	position: relative;
	display: block;
        margin-left: 50px;
	padding: 10px 15px;
        width: 120px;
}


li.addSpace {
margin-left: 0px;
}

li.logoSpaceHolder{
display:block;
}

#navbar {
color: #ffffff;
padding-left: 0px;
padding-right: 0px;
}

.navbar-collapse {
   height: 100vh;
   background-color: #8CC63E;
}

.navbar-default .navbar-nav li a {
color: #ffffff;
}

.navbar-default .navbar-nav li a:hover {
color: #5F4828;
}

}

@media (max-width: 799px) {
/* Shrink the social icons */

.globalNavSocialLink {
width: 22px;
}

.globalNavSocialLink img {
width: 18px;
}

/* Shrink the nav font and padding */
.navbar-default .navbar-nav li a {
font-size: 12px;
padding: 10px 10px 10px 0px;
}

.addSpace {
margin-left: 40px;
}

}



@media (min-width: 800px) {

    /* Shrink the social icons */

    .globalNavSocialLink {
    width: 25px;
    }

    .globalNavSocialLink img {
    width: 20px;
    }

    /* Shrink the nav font and padding */
    .navbar-default .navbar-nav li a {
    font-size: 12px;
    padding: 10px 10px 10px 0px;
    }

    .addSpace {
    margin-left: 50px;
    }

}



@media (min-width: 875px) {

/* Shrink the nav font and padding */
.navbar-default .navbar-nav li a {
font-size: 13px;
padding: 10px 15px 10px 0px;
}

}



@media (min-width: 1025px) {
  .globalNavSocialLink {
  width: 30px;
  }

  .globalNavSocialLink img {
  width: 25px;
  }
    /* Shrink the nav font and padding */
    .navbar-default .navbar-nav li a {
    font-size: 16px;
    padding: 10px 30px 10px 0px;
    }

    .addSpace {
    margin-left: 60px;
    }

}

input, textarea {
	font-size: 0.8em;
	font-family: 'proxima-nova-soft', sans-serif;
	border: 1px solid #ddd;
	background: #fff;
	padding: 0.9em;
	transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}
input {
  width: 50%;

}
textarea {
  width: 100%;
  height: 150px;
}
button, a.button {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid #57C5CD;
	color: #57C5CD;
	background: transparent;
	line-height: 1em;
	padding: 0.6em 0.9em;
	transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #57C5CD;
    outline: none;
    box-shadow: 0 0 5px 1px #57C5CD; }
