/* Move down content because we have a fixed navbar that is 50px tall */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 16px;
}

.btn-primary{
	color: #fff;
	background-color: #0055a5;
	border-color: #122b40;
}

.btn-primary:hover{
background-color: #004281;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.jumbotron {
padding-top: 60px;
padding-bottom: 40px;
margin-bottom: 0px;
margin-top: 90px;
}

.jumbotron .h1,.jumbotron h1 {
font-size: 45px;

}
.navbar-default .navbar-brand{
color: #ffffff;
}

.navbar-brand {
padding: 5px;
margin-left: 0px;
}

.logo {
  text-align: center;
}

.logobrand {
width: 250px;
}
.navbar-default .navbar-nav li a {
color: #ffffff;
}

.navbar-default .navbar-nav li a:hover {
color: #ffffff;
}

.navbar-default{
height: 150px;
color: #ffffff;
background-color: #555555;
}

.navbar-collapse {
background-color: #555555;
}
.container {
padding-left: 20px;
}

#navbar {
margin-top: 47px;
float: right;
}

img {
width: 300px;
}

.images {
padding-top: 20px;
}

.navbar-toggle {
	margin-right: 10px;
}
